// Configuration file for sc-arc-10x pipeline

params {

       	// Project ID (2021_XXX) or Run ID (date: e.g. YYMMDD-sc-arc-10x)
	metaid="nf_dir3"

	// Sample Sheet (Must be in the specified runfolder!)
	ssheet = "nf_libraries.csv"

	// Folder of experiment raw data
	runfolder_rna = "rna"
	runfolder_atac = "atac"

	// aggregate function from cellranger-arc, y=yes, n=no (assuming no)
	run_aggregate="y"

	// if using other genome reference than hg38 or mm10
	custom_genome = "xxxpathtogenomexxx"

	// Base ctg-dirs:
        outdir="/suffolk/WorkGenomicsH/mn367/Projects/MBU_Jelle/MBU_jv361_001/${metaid}/"
        basedir="/suffolk/WorkGenomicsH/mn367/Projects/MBU_Jelle/MBU_jv361_001/${metaid}/"

	// create count matrix for the samples processed (y=yes, n=no)
	count_matrix="y"

	// run mgatk
	mgatk_run="y"



	/*
	   =================
	   AUTOMATIC PARAMS
	   =================
	*/

	sheet="${basedir}/${ssheet}"
	fqdir="${outdir}fastq/"
	qcdir="${outdir}qc/"
	countdir="${outdir}count/"
	aggdir="${outdir}aggregate/"
	metadir="${basedir}/metadata"
	mgatkdir="${basedir}/mgatk"

}

// Define SLURM specs
process {
	executor='slurm'
	time='2h'
	cpus='1'


	withName:summarize_count{
	        time='24h'
                cpus='16'
                memory='100 GB'
	}
	withName:count {
		time='2d'
		cpus='20'
		memory='160 GB'
	}
	withName:aggregate {
		time='2d'
		cpus='16'
		memory='120 GB'
	}
	withName:fastqc {
		time='4h'
		cpus='16'
		memory='120GB'
	}
	withName:md5sum {
		time='5h'
		cpus='1'
		memory='120GB'

	}
	withName:mgatk {
		time='90h'
		cpus='16'
		memory='120GB'
	}
	withName:qualimap_rna_run {
		time='10h'
		cpus='16'
		memory='120GB'
	}
  withName:qualimap_atac_run {
    time='10h'
    cpus='16'
    memory='120GB'
  }
}
